# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/**/run-latest.json


# Docs
docs/

# Dotenv file
.env

# IDE
.idea/

# Experimental compiler
/solx-linux-amd64-gnu-v0.1.0
