[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# Compiler settings
solc = "0.8.30"
evm_version = "cancun"
optimizer = true
optimizer_runs = 1000000

# Test settings
# The following flag is used to give better control of the transient storage
# state between transactions in tests. With this flag enabled, each call in a
# test function is executed as an independent transaction (normally, a test
# would be a single transaction). This means that transient storage is cleared
# after every call in a test function. See also:
# https://github.com/foundry-rs/foundry/issues/6908
isolate = true

fs_permissions = [
  { access = "read", path = "./networks.json"}
]


[fmt]
sort_imports = true
ignore = [
  # Foundry's fmt doesn't support the `transient` keyword on variables.
  # We ignore all files that have that keyword in them until Foundry fixes this
  # issue on their end.
  # https://github.com/foundry-rs/foundry/issues/9088
  "src/FlashLoanRouter.sol",
]

[profile.ci]
deny_warnings = true
fuzz.seed = '0'
