[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# Compiler settings

# Install:
# wget 'https://github.com/matter-labs/solx/releases/download/0.1.0/solx-linux-amd64-gnu-v0.1.0' && { echo 'dd790f8bbf470437ddd483e053e2c3d3dd1154fa7f9768d9d5b6ac466f120d3b solx-linux-amd64-gnu-v0.1.0' | sha256sum --check; } && chmod +x 'solx-linux-amd64-gnu-v0.1.0'
# solx, LLVM-based Solidity compiler for the EVM v0.1.0, LLVM revision: v1.0.2, LLVM build: 6fe1b2dbfe325be4977538ad709cc67ef972fbac
# Version: 0.8.30+commit.b8d9da4d.Linux.clang
solc_version="./solx-linux-amd64-gnu-v0.1.0"
evm_version = "cancun"
optimizer = true
optimizer_runs = 1000000

# Test settings
# The following flag is used to give better control of the transient storage
# state between transactions in tests. With this flag enabled, each call in a
# test function is executed as an independent transaction (normally, a test
# would be a single transaction). This means that transient storage is cleared
# after every call in a test function. See also:
# https://github.com/foundry-rs/foundry/issues/6908
isolate = true

fs_permissions = [
  { access = "read", path = "./networks.json"}
]


[fmt]
sort_imports = true
ignore = [
  # Foundry's fmt doesn't support the `transient` keyword on variables.
  # We ignore all files that have that keyword in them until Foundry fixes this
  # issue on their end.
  # https://github.com/foundry-rs/foundry/issues/9088
  "src/FlashLoanRouter.sol",
]

[profile.ci]
deny_warnings = true
fuzz.seed = '0'
